@model ABCRetails.Models.EditOrderViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="RowKey" />
            <input type="hidden" asp-for="PartitionKey" />
            <input type="hidden" asp-for="Timestamp" />
            <input type="hidden" asp-for="ETag" />
            
            <div class="form-group">
                <label asp-for="ProductRowKey" class="control-label"></label>
                <select asp-for="ProductRowKey" class="form-select" asp-items="ViewBag.ProductRowKey"></select>
                <span asp-validation-for="ProductRowKey" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CustomerRowKey" class="control-label"></label>
                <select asp-for="CustomerRowKey" class="form-select" asp-items="ViewBag.CustomerRowKey"></select>
                <span asp-validation-for="CustomerRowKey" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" type="number" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

