/* Import League Spartan font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&display=swap');

:root {
    --highlight-yellow: #FDE602;
    --highlight-red: #F5190A;
    --text-color: #371D15;
    --border-color: #eee;
    --card-bg: #fff;
    --table-head-bg: #f9f9f9;
}

html, body {
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    background-color: var(--card-bg);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    font-weight: 700;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn {
    border-radius: 6px;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    background-color: var(--highlight-yellow);
    color: var(--text-color);
    border: 1px solid var(--highlight-yellow);
}

.btn:hover {
    background-color: #e4cf00;
    border-color: #e4cf00;
    color: var(--text-color);
}

.btn-danger {
    background-color: var(--highlight-red);
    border: 1px solid var(--highlight-red);
}

.btn-danger:hover {
    background-color: #AD2117;
    border-color: #AD2117;
    color: var(--text-color)
}